@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "compass/css3"; */

/* -------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* -------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 700px;
}

.App-Column {
  flex-direction: column;
}

.login-container {
  width: 400px;
  background-color: #878787;
  margin: 0 auto;
  margin-top: 10%;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: absolute;
  width: 450px;
  height: 400px;
  left: 20%px;
  background: #ffffff;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1),
    0px 8px 53px rgba(0, 120, 240, 0.25);
  border-radius: 10px;
}

.input {
  margin: 15px 0;
  padding: 10px;
  margin-bottom: 20px;
}

.submit {
  padding: 10px;
  background-color: #efefef;
  margin-top: 30px;
}
.disabled {
  background-color: #ccc9c9;
}

.error {
  color: red;
  font-weight: bold;
}

.useContext {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 20px auto 500px;
}

.todoContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.todoItem {
  border: 1px solid #eee;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.todoItem p {
  margin: 0;
}

.default {
  position: fixed;
  height: 100%;
  background: url(../img/background2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
}

.img_2 {
  position: fixed;
  height: 100%;
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
}
.smoke {
  position: fixed;
  height: 100%;
  background: url(../img/smoke.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
}
.snow {
  position: fixed;
  height: 100%;
  background: url(../img/snow.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
}
.rain {
  position: fixed;
  height: 100%;
  background: url(../img/rain.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
}
.clouds {
  position: fixed;
  height: 100%;
  background: url(../img/clouds.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
}

.svg1 {
  opacity: 1 !important;
  margin-left: 0px !important;
  margin-top: 0px !important;
}

.preloader {
  position: absolute;
  margin-left: -55px;
  margin-top: -100px;
  height: 450px;
  width: 450px;
  left: 50%;
  top: 45%;
  opacity: 1;
}

.svg1 {
  width: 150px;
  height: 150px;
}

.svg2 {
  width: 150px;
  height: 150px;
}

.path {
  stroke: #7f7f7f;
  stroke-width: 0.25;
  fill: #241e20;
}

#cloud {
  position: relative;
  z-index: 2;
}

#cloud path {
  fill: #efefef;
}

#sun {
  margin-left: -10px;
  margin-top: 6px;
  opacity: 0;
  width: 90px;
  height: 90px;
  position: absolute;
  left: 45px;
  top: 15px;
  z-index: 1;

  animation-name: rotate;
  animation-duration: 16000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#sun path {
  stroke-width: 0.18;
  fill: #878787;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

/* Rain */
#rain {
  position: absolute;
  width: 90px;
  height: 90px;
  margin-top: -32px;
  margin-left: 25px;
}

.drop {
  opacity: 1;
  background: #5e5e5e;
  display: block;
  float: left;
  width: 5px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0px 0px 6px 6px;

  animation-name: drop;
  animation-duration: 350ms;
  animation-iteration-count: infinite;
}

.drop:nth-child(1) {
  animation-delay: -130ms;
}

.drop:nth-child(2) {
  animation-delay: -240ms;
}

.drop:nth-child(3) {
  animation-delay: -390ms;
}

.drop:nth-child(4) {
  animation-delay: -525ms;
}

.drop:nth-child(5) {
  animation-delay: -640ms;
}

.drop:nth-child(6) {
  animation-delay: -790ms;
}

.drop:nth-child(7) {
  animation-delay: -900ms;
}

.drop:nth-child(8) {
  animation-delay: -1050ms;
}

.drop:nth-child(9) {
  animation-delay: -1130ms;
}

.drop:nth-child(10) {
  animation-delay: -1300ms;
}

@keyframes drop {
  50% {
    height: 45px;
    opacity: 0;
  }

  51% {
    opacity: 0;
  }

  100% {
    height: 1px;
    opacity: 0;
  }
}

.text {
  font-family: Helvetica, "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
  text-align: center;
  margin-left: -17px;
  font-weight: bold;
  margin-top: 20px;
  font-size: 11px;
  color: #4f4f4f;
  width: 200px;
}

/* .metric{
  border: 1px solid #000000;
  border-color: none;

  border-radius: 3px;
} */
.search::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 10px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjEyMy4wNXB4IiBoZWlnaHQ9IjEyMy4wNXB4IiB2aWV3Qm94PSIwIDAgMTIzLjA1IDEyMy4wNSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTIzLjA1IDEyMy4wNTsiDQoJIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPHBhdGggZD0iTTEyMS4zMjUsMTAuOTI1bC04LjUtOC4zOTljLTIuMy0yLjMtNi4xLTIuMy04LjUsMGwtNDIuNCw0Mi4zOTlMMTguNzI2LDEuNzI2Yy0yLjMwMS0yLjMwMS02LjEwMS0yLjMwMS04LjUsMGwtOC41LDguNQ0KCQljLTIuMzAxLDIuMy0yLjMwMSw2LjEsMCw4LjVsNDMuMSw0My4xbC00Mi4zLDQyLjVjLTIuMywyLjMtMi4zLDYuMSwwLDguNWw4LjUsOC41YzIuMywyLjMsNi4xLDIuMyw4LjUsMGw0Mi4zOTktNDIuNGw0Mi40LDQyLjQNCgkJYzIuMywyLjMsNi4xLDIuMyw4LjUsMGw4LjUtOC41YzIuMy0yLjMsMi4zLTYuMSwwLTguNWwtNDIuNS00Mi40bDQyLjQtNDIuMzk5QzEyMy42MjUsMTcuMTI1LDEyMy42MjUsMTMuMzI1LDEyMS4zMjUsMTAuOTI1eiIvPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPC9zdmc+DQo=);
  background-size: 10px 10px;
  padding-right: 5px;
  background-repeat: no-repeat;
}
